html {
    background: url() no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.page-header{
    font-family: 'Permanent Marker', cursive;
    color: darkmagenta;
    font-size: 50px;
    text align: center;
        overflow: hidden; 
        border-right: .15em solid black;
        white-space: nowrap; 
        margin: 0 auto; 
        letter-spacing: .15em; 
        animation: 
          typing 3.5s steps(40, end),
          blink-caret .75s step-end infinite;
      }
      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }

}

